// Settings go herew
$grey: #888;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

.comment-grey {
  color: $grey;
}

.comment-username{
  text-transform: capitalize;
}
.comment-title {
  margin-top: 0;
}

.comment-middle-align {
  vertical-align: middle;
}

.comment-gravatar {
  @include border-radius(10%);
}

.comment-date {
  @extend .comment-grey;
}

.navbar-collapse li{
  text-align: right;
}
